* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
}

.container {
    /* background-color: aqua;  */
    position: relative;
    margin: 0 auto;
    width: 1400px;
    height: 100vh;
}

.Nav {
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: row;
}

.Nav-big {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 100%; */
    height: 50px;
    left: 28px;
    top: 15px;
    right: 28px;
    bottom: 15px;
    /* gap: 95px; */
}

.Nav-mobile {
    /* position: fixed; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    display: none;
    width: 100%;
    height: 500px;
    background: white;
}

.nav_itemsM {
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
    /* height: 300px; */
    /* background-color: aquamarine; */
    margin-top: 50px;
    padding-bottom: 20px;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.1);
}

.Nav-mobile .nav_itemsM ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    color: black;
}

.nav_itemsM li{
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    height: 40px;
}

.nav_itemsM li:hover{
    /* background-color: aqua; */
}

.nav_proM {
    padding-top: 20px;
}

.Nav-mobile .nav_proM ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    color: black;
}

.nav_proM li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    /* width: 100%; */
    height: 40px;
}

/* .nav_proM li:hover {
    background-color: aqua;
} */

.bar {
    position: absolute;
    top: 10px;
    right: 20px;
    background: none;
    border: none;
    color:rgb(50, 173, 221);
    font-size: 28px;
    font-weight: 600;
    display: none;
}

.logo_div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 125.42px;
    height: 35px;
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgb(255, 255, 255));
}

.logo_img {
    position: absolute;
    height: 35px;
    width: 35.665199279785156px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
}

.logo_title {
    position: absolute;
    height: 21.900575637817383px;
    width: 82.54984283447266px;
    left: 42.865478515625px;
    top: 9.467498779296875px;
    border-radius: 0px;
}

.nav_items ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0px;

    width: 648px;
    height: 50px;

}

.nav_items li {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    /* justify-content: flex-end; */
    padding: 13px 14px 13px 14px;
    cursor: pointer;
    gap: 10px;
    /* width: 154px;
    height: 24px; */
}

.nav_items li img {
    margin-top: 5px;
}

.nav_pro ul{
    /* background-color: #460AF0; */
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    width: 400px;
    height: 50px;
}

.nav_pro li{
    list-style-type: none;
    display: flex;
    align-items: flex-start;
    padding: 13px 14px;
    gap: 8px;
    cursor: pointer;
}

.nav_pro li a {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
}

.lineDiv {
    width: 100%;
    height: 80px;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.1);
}

.header_searchBar {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding: 10px 346px 9px 28px;
    gap: 12px;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.1);
    width: 100%;
}

.search_bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 318px;
    height: 38px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    padding: 10px;
}

.search_input input {
    border: none;
    width: 263px;
}

.search_input input:focus{
    border: none;
    outline: none;
}

.searchIcon button{
    background: none;
    border: none;
    padding: 10px;
}

@media only screen and (max-width: 1000px) {
    .Nav {
        position: relative;
    }
    .Nav-big {
        display: none;
    }
    .Nav-mobile {
        z-index: 10;
        display: block;
        color: white;
    }
    .bar {
        display: block;
        z-index: 999;
    }
    
}